.head{
    height: 44px;
    width: 100%;
    background-color: #f4483e;
    color: #ffffff;
}
.store{
    height: 165px;
    width: 100%;
    margin-top: 5px;
    margin-left: 5px;

    padding-top: 5px;
}
.ul > li{
    border: 1px solid #eeeeee;
    display: block;
    width: 40%;
    height: 70px;
    padding-top: 5px;
    margin-bottom: 5px;
    float: left;
    margin-right: 5px;


}
a> img{
    height: 50px;
    width: 50px;
    margin-left: 38px;
    /*margin-bottom: 5px;*/
}
a > p{
    font-size: 12px;
    text-align: center;

}
.deng{
    height: 35px;
    /*border-bottom: 1px solid #f1f1f1;*/
    /*border-top: 1px solid #f1f1f1;*/
    font-size: 14px;
    overflow: hidden;
    background-color: #ffffff;

}

.lu{
    height: 32px;
    width: 33%;
    border: 1px solid #f1f1f1;
    text-align: center;
    line-height: 32px;
    float: left;
}

.ce{
    height: 32px;
    width: 32%;
    border: 1px solid #f1f1f1;
    text-align: center;
    line-height: 30px;

    float: left;
}

.bu{
    height: 32px;
    width: 33%;
    float: right;

    text-align: center;
    line-height: 30px;
    float: left;
    border: 1px solid #f1f1f1;
    border-right: none;
}
.shou{
    height: 17px;
    text-align: center;
    line-height: 17px;
    font-size: 10px;
    background-color: #ffffff;

}
.zz{
    height: 17px;
    text-align: center;
    line-height: 17px;
    font-size: 10px;
    background-color: #ffffff;
}